# Utiliser une base de données sqlite dans un programme Python

La bibliothèque standard de Python inclut un moteur de base de données relationnelles très performant nommé SQLite95 , qui a été développé indépendamment en C, et implémente en grande partie le standard SQL-92.

Cela signifie donc que vous pouvez écrire en Python une application contenant son propre SGBDR intégré, sans qu’il soit nécessaire d’installer quoi que ce soit d’autre, et que les performances seront au rendez-vous.

## I-Établir une connexion avec la base de données et initialiser un objet curseur
On commence par créer un objet-connexion, à l’aide de la méthode connect() de la bibliothèque sqlite. Cet objet assurera l’interface entre votre programme et la base de données.
On initialise ensuite un objet curseur, sorte de tampon mémoire intermédiaire, destiné à mémoriser temporairement les données en cours de traitement, ainsi que les opérations que vous effectuez sur elles, avant leur transfert définitif dans la base de données.<br />
Syntaxe : <br />
```python
import sqlite3
 # Etablir la connexion
 connexion = sqlite3.connect(db_fichier)
 # Créer le curseur
 curseur=connexion.cursor()
```
Remarque : <br>
Il est préférable de mettre en place une gestion d'exceptions en utilisant le jeu d'erreurs de la bibliothèque sqlite3 en cas de problème lors de la connexion à la base de données.<br />
Tester le code suivant pour vous connecter à la base de données cinema.sqlite de schéma relationnel suivant : <br />
![Schéma](schema_relationnel.png)

In [ ]:
import sqlite3

def connection_db(db_fichier):
    """
    Crée une connection à une base de données spécifiée dans l'argument db_fichier
    :param db_fichier:
        chemin du fichier de la base de données sous la forme d'une chaine de caractères
    :return:
        objet de connection or None
    """
    connexion = None
    try:
        connexion = sqlite3.connect(db_fichier)
        return connexion
    except sqlite3.Error as e:
        print(e)
        return None
    
bdd=connection_db("cinema.sqlite")
curseur=bdd.cursor()
print(bdd)
print(curseur)

## II-Requêtes sur la base de données.
### 1-Selection de données dans la base de données.
L’interrogation de la base s’effectue bien évidemment à l’aide de requêtes SQL, que l’on confie à la méthode execute() du curseur, toujours sous la forme de chaînes de caractères :
Exemple : <br />
```python
 # Récupérer le contenu de la table Films
   requete="SELECT * FROM Films;"
   curseur.execute(requete)
```
On peut récupérer les résultats de la requête sous forme d'une liste de tuples à l'aide de la méthode fetchall() :
Exemple : <br />
```python
 # Récupération des données sous forme d'une liste de tuples
   curseur.fetchall()
```
Variantes : Les méthodes fetchone() et fetchmany(n) permettent de retourner respectivement le premier ou les n premiers enregistrements des résultats de la requête. Tester cela dans la cellule suivante.

In [ ]:
requete="SELECT * FROM Films;"
curseur.execute(requete)
print(curseur.fetchall())

On peut bien sur utiliser des noms de variables python dans les conditions de la requête, soit : 
* en utilisant l'opérateur de concaténation +
Exemple : <br />
```python
   nom='co'
   curseur.execute("SELECT * FROM Personnes WHERE NOM LIKE '%"+nom+"%';")
   curseur.fetchall()
```
* en utilisant une f-String
```python
   nom='co'
   curseur.execute(f"SELECT * FROM Personnes WHERE NOM LIKE '%{nom}%';")
   curseur.fetchall()
```
Tester les exemples ci-dessus dans la cellule de code suivante.

In [ ]:
#Tester les requêtes avec utilisation d'une variable Python ici

### 2-Insertion, mise à jour et suppression dans la base de données.
Tant que le curseur reste ouvert, vous pouvez bien entendu ajouter des enregistrements supplémentaires :
Exemple :
```python
 # Insertion d'un tupple dans la base
   cur.execute("INSERT INTO Personnes(id,nom,taille) VALUES(19,'Ricard',1.75);")
```
Rajouter dans votre base le cinéma d'AUCH : Ciné 32 situé Allée des Arts, 32000 Auch et comportant 5 salles et 870 sièges. Tester le résultat avec une requête sur la table Films.

In [ ]:
#requete pour insérer Ciné 32

#Vérifier le résultat
requete="SELECT * FROM Cinemas;"
curseur.execute(requete)
curseur.fetchall()

On va maintenant fermer le curseur et la connexion à la base de données, puis les ré-ouvrir pour vérifier si l'enregistrement a été effectué.

In [ ]:
#On cloture le curseur et on le reouvre.
curseur.close()
bdd.close()
bdd=connection_db("cinema.sqlite")
curseur=bdd.cursor()

#On refait le test précédent
requete="SELECT * FROM Cinemas;"
curseur.execute(requete)
curseur.fetchall()

On constate que l'enregistrement ne s'est pas fait dans la base. En fait toutes les opérations précédentes ont été réalisées en mémoire vive. Pour enregistrer réellement les données dans la base données il faut utiliser la méthode commit().Vous pouvez donc annuler toutes les modifications apportées depuis le commit() précédent, en refermant la connexion à l’aide de l’instruction conn.close()
Exemple :
```python
 # Enregistrement des modifications apportées à la base
   bdd.commit()
```

### Annexe : quelques petites requêtes à écrire sur cette base de données

Modifiez le nom de l'acteur : Morgan Freeman (et pas Frimane) <br />
Modifiez la date de sortie du Films Seven : 1995 (et pas 1895) <br />
Modifiez le rôle de Leonardo DiCaprio dans Inception : Cobb (et pas Kobe) <br />
Supprimez le cinéma “Ciné 32” ajouté précédemment. <br />